# Archivos compilados de Java
*.class

# Carpetas de build comunes
target/
bin/
out/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml

# Dependencias de Node.js
node_modules/

# Archivos temporales de Code Runner
tempCodeRunnerFile.js
