# Archivos compilados de Java
*.class

# Carpetas de build comunes
target/
bin/
out/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml

# Dependencias de Node.js
node_modules/

# Archivos temporales de Code Runner
tempCodeRunnerFile.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env
